.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }

/* Featurettes */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */

}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/*altro*/
.col-md-11{
  padding-left: 25px;
}

.btn-primary {
    color: #fff;
    background-color: #db950a;
    border-color: #db950a;
 }

.btn-primary:hover {
    background-color: #5A5A5A;
 }

a#red.btn.btn-sm.btn-outline-secondary {
    border-color: red;
}