.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 0rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Featurettes */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */

}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/*altro*/
.col-md-11{
  padding-left: 25px;
}

.ciao {
  font-size: 40px;
  padding-left: 25px;
}