
@media (min-width: 0px) and (max-width: 1100px) {
    div#acquisto {
       margin-top: 320px;
       margin-left: -940px;
    }
    div.col-md-11 {
       margin-top: 100px;
    }
    .featurette-divider {
     margin: 0px;
    }
}

.col-md-11{
  padding-left: 25px;
}

/* Featurettes */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */

}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

img#immagineprincipale {
  margin: 60px;
  height: 250px;
  width: 250px;
  border: solid;
  border-width: 1px;
  border-color: silver;
}

img#immaginisecondarie {
  height: 75px;
  width: 70px;
  margin: 30px;
  margin-left: 40px;
  position: relative; top: 180px; right: 340px;
  border: solid;
  border-width: 1px;
  border-color: silver;
}

h1 {
  font-size: 45px;
  max-width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  color: #db950a;
}

h2 {
  max-width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #212F3D;
}

h3 {
  max-width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  color: #707B7C;
  font-size: 20px;
}

h4 {
  max-width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  color: #707B7C;
  font-size: 15px;
}

h5 {
  font-size: 35px;
  max-width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  color: #C0392B;
}

span {
  color: black;
  font-size: 16px;
  }


div.descrizioneprodotto {
  position: absolute; top: 250px; left: 400px;

}

div#acquisto {
  position: absolute; top: 280px; left: 1000px;

}
div.dettagli {
 color : black;
}


a#carrello {
  margin: 20px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #2C3E50;
  background-color: #E74C3C; 
}

a#carrello:hover {
  background-color: #C0392B;
}

.red {
color: #C0392B;
}

a#acquista {
  margin: 20px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #2C3E50;
  background-color: #E74C3C; 
}

a#acquista:hover {
  background-color: #C0392B;
}


body {
  padding-top: 1rem;
}
