	img#immagineprincipale {
  		height: 125px;
  		width: 125px;
 		border: solid;
  		border-width: 1px;
  		border-color: silver;
  		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}

	.container{
		margin-left: 10px;
		padding-top: 3rem;
	}
    
	.wrapper {
  		display: grid;
  		grid-gap: 20px;
  		grid-template-columns: repeat(8, 150px);
  		grid-template-rows: auto;
  		grid-auto-flow: row;
	}
	
	.smaal{
	width:50px;
	}
	
	div#hormenu {
	width: 100%;
	float: center;
	margin: 0;
	padding: 0;
	
	}
	
	div#hormenu ul
	{
	margin: 0;
	padding: 0;
	list-style-type: none;
	}
	
	div#hormenu li
	{
	width:160px;
	float:left;
	margin: 0;
	padding: 0;
	color: black;
	}
	
	div#hormenu a
	{
	display: block;
	padding: 5px;
	font-size: 20px;
	text-decoration: none;
	background-color: #db950a;
	}
	div#hormenu a:hover
	{
	background-color: #5A5A5A;
	text-decoration: none;
	}
	
	div#hormenu li ul
	{
	display: none;
	}
	
	div#hormenu li:hover ul
	{
	display: block;
	position: absolute;
	z-index:1;
	width:160px;
	padding: 0;
	margin: 0 0 0 -1px;
	background: #333;
	}
	
	div#hormenu li li {
	border:none; width:150px; 
	}
	div#hormenu li li a {
	padding:2px 2px 2px 10px; 
	}
	
	.spazio{
	padding:3rem;
	}