/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* Navbar */

button#Search {
  border-color: #db950a;
  color: #db950a;
}

button#Search:hover {
  color: black;
  background-color: orange;
}

li.nav-item {
  font-size: 19px;
}       

a#Chisiamo.nav-link {
  position: relative;
  right: 50px;
  color: #db950a;
}

a#Chisiamo.nav-link:hover {
  background-color: #212F3D;
}


a#Login.nav-link {
  position: relative;
  right: 50px;
  color: #db950a;
}

a#Login.nav-link:hover {
  background-color: #212F3D; 
}

a#Negozi.nav-link {
  position: relative;
  right: 50px;
  color: #db950a; 
}

a#Negozi.nav-link:hover {
  background-color: #212F3D; 
}

a#Contatti.nav-link {
  position: relative;
  right: 50px;
  color: #db950a; 
}

a#Contatti.nav-link:hover {
  background-color: #212F3D; 
}


a#Carrello.nav-link {
  position: relative;
  right: 50px;
  color: #db950a; 
} 

a#Carrello.nav-link:hover {
  background-color: #212F3D;  
} 

a#Homepage.nav-link {
  color: #db950a; 
} 

a#Profilo.nav-link {
  position: relative;
  right: 50px;
  color: #db950a; 
} 

a#Profilo.nav-link:hover {
  background-color: #212F3D;  
} 

a#Logout.nav-link {
  position: relative;
  right: 40px;
  color: #db950a; 
} 

a#Logout.nav-link:hover {
  background-color: #212F3D;  
} 

a#Registrazione.nav-link {
  position: relative;
  right: 50px;
  color: #db950a; 
} 

a#Registrazione.nav-link:hover {
  background-color: #212F3D;  
} 

/* RESPONSIVE CSS */

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


/*colore dei link*/
a{
  color: #db950a;
}

/*colore del bottone*/
.btn-warning {
    color: #212529;
    background-color: #db950a;
    border-color: #db950a;
}

ul.navbar-nav.mr-auto{
  display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

p#nomeSito {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 40px;
  color: #db950a;
}