.col-md-11{
  padding-left: 25px;
}

/* Featurettes */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */

}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/*css di Matteo*/
a.btn.btn-lg.btn-primary {
  color:#db950a;
  border-color: #5a5a5a;
  background-color: #5a5a5a;
}

a.btn.btn-lg.btn-primary:hover {
  color:#5a5a5a;
  border: none;
  background-color: #db950a;
}


---------------------------------------------
/* Carousel */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
_________________________________________
/*tendina Categorie*/
div#hormenu {
width: 100%;
float: center;
margin: 0;
padding: 0;
/*border-top: 1px solid black;*/
background-color: inherit;
}

div#hormenu ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

div#hormenu li
{
width:160px;
float:left;
margin: 0;
padding: 0;
/*border-right: 1px solid black;*/
color:white;
}

div#hormenu a
{
display: block;
padding: 5px;
font-size: 20px;
color: white;
text-decoration: none;
background-color: #db950a;
}
div#hormenu a:hover
{
background-color: #5A5A5A;
color: white;
text-decoration: none;
}

div#hormenu li ul
{
display: none;
}

div#hormenu li:hover ul
{
display: block;
position: absolute;
z-index:1;
width:160px;
padding: 0;
margin: 0 0 0 -1px;
/*border:1px solid black;*/
background: #333;
}

div#hormenu li li 
{ border:none; width:150px; }
div#hormenu li li a { padding:2px 2px 2px 10px; }


.prova{
  margin-left: 400px;
}
__________________________________________________

