/* Featurettes */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */

}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/*altro*/
.col-md-11{
  padding-left: 25px;
}

div.container {
  width: 100%;
}

div.box {
  box-sizing: border-box;
  width: 20%;
  float: left;
}

div.boh {
  font-size: 1rem;
}

.lh-condensed { 
line-height: 1; 
}

.btn-warning {
    color: #212529;
    background-color: #db950a;
    border-color: #db950a;
}