.col-md-11{
  padding-left: 25px;
}

/* Featurettes */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */

}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
