.col-md-11{
  padding-left: 25px;
}

/* Featurettes */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */

}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/*css di Matteo*/
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }


div.Promozioni {
  border: none;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
}

h1 {
  font-size: 45px;
  max-width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  color: #db950a;
}

h2 {
  max-width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #212F3D;
}

h3 {
  max-width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  color: #707B7C;
  font-size: 20px;
}

a.BottonePromo {
  font-size: 15px;
  position: relative; left: 660px; top: 150px;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #2C3E50;
  background-color: #E74C3C; 
}

a.BottonePromo:hover {
  font-size: 16px;
  background-color: #C0392B;
}

img.ImmProm {
  margin-right: 20px;
  margin-top: 5px;
  height: 125px;
  width: 125px;
  border: solid;
  border-width: 1px;
  border-color: #D5D8DC;

}

a.BottonePromo {
  font-size: 15px;
  position: relative; left: 660px; top: 150px;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #2C3E50;
  background-color: #E74C3C; 
}

a.BottonePromo:hover {
  font-size: 16px;
  background-color: #C0392B;
}