div#hormenu {
width: 100%;
float: left;
margin: 0;
padding: 0;
/*border-top: 1px solid black;*/
background-color: inherit;
}

div#hormenu ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

div#hormenu li
{
width:100px;
float:left;
margin: 0;
padding: 0;
/*border-right: 1px solid black;*/
color:white;
}

div#hormenu a
{
display: block;
padding: 5px;
font-size: 17px;
color: white;
text-decoration: none;
}
div#hormenu a:hover
{
background-color: #db950a;
color: white;
text-decoration: none;
}

div#hormenu li ul
{
display: none;
}

div#hormenu li:hover ul
{
display: block;
position: absolute;
z-index:1;
width:150px;
padding: 0;
margin: 0 0 0 -1px;
border:1px solid black;
background: #333;
}

div#hormenu li li { border:none; width:150px; }
div#hormenu li li a { padding:2px 2px 2px 10px; }