<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Il mio Account</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

   <!-- ............................................Stile............................................. -->
    <link href="../../css/header-footer.css" rel="stylesheet">
    <link href="../../css/accountUtente.css" rel="stylesheet">

  </head>

  <body>
	<div th:replace="fragments/header :: header"></div>

	<!-- ............................................Corpo della pagina............................................. -->

<main role="main">
<hr class="featurette-divider">

    <main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h2 class="pb-4 mb-4 font-italic border-bottom">
        Informazioni sull'account
      </h2>

      <div class="blog-post">
        <h7 class="blog-post-title">Informazioni di Contatto</h7>
        <div class="box-content">
        <p>
                      <label th:text="${utente.nome}"></label>  <br>
                      <label th:text="${utente.cognome}"></label>  <br>
                      <label th:text="${utente.email}"></label> <br>
                      Tel: <label th:text="${utente.telefono}"></label>  <br>
                      <br>
                      Username: <label th:text="${utente.username}"></label>  <br>
        </p>
        </div>
      <div class="box-actions">
        <a th:href="@{'/Utente/Profilo/Modifica/' + ${utente.getIdUtente()}}">
          <span>Modifica</span>
        </a>|
        <a th:href="@{'/Utente/Profilo/Modifica/Password/' + ${utente.getIdUtente()}}" class="action change-password">
          Cambia Password</a>
      </div>
    </div>


<div class="block block-dashboard-orders">
        <div class="block-title order">
        <strong>Rubrica Indirizzi</strong>       
            </div>
    <div class="block-content">
       <div class="table-wrapper orders-recent">
                <table class="data table table-order-items recent" id="my-orders-table">
                    
                   	<thead>
                    <tr><th>Via/Viale</th><th>Città</th><th>Cap</th><th>Note</th></tr>
					</thead>
					<th:block th:each="i : ${PHIndirizzi}">
             	    <tr><td th:text="${i.via}"></td>
                    <td th:text="${i.citta}"></td>
             	    <td th:text="${i.cap}"></td>
             	    <td th:text="${i.note}"></td>
             	    <td><a th:href="@{'/Utente/Profilo/ModificaIndirizzo/' + ${i.getIdIndirizzo()}}">Modifica</a></td>
             	    </tr>
             	   </table>
         </div>          
	</div>
	<a class="action edit" href="/Utente/Profilo/AggiungiIndirizzo"><span>Aggiungi Indirizzo</span></a>
	</div>
	

      <!-- /.blog-post -->

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="mb-3 bg-light rounded" id="padd">
        <h4 class="font-italic"><center>Storico Ordini<center></h4>
       	<p class="mb-0">
        <table class="data table table-order-items recent" id="my-orders-table">
        <thead>
        <tr><th>Data Ordine</th> <th>Ordine n'</th> <th>Prodotti</th></tr>
	    </thead>
        <th:block th:each="sl : ${shoppingListGroup}">
        <tr>
        <td th:text="${#temporals.format(sl.ordine.dataCreazione, 'dd-MM-yyyy')}"></td>
        <td th:text="${sl.ordine.idOrdine}"></td>
        <td><a th:href="@{'/Utente/Profilo/ListaProdOrdini/' + ${sl.ordine.getIdOrdine()}}">Visualizza lista</a></td>
        </tr>
        </th:block>
        </table>
       
        
        
        </aside>
        
        <!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->

    <hr class="featurette-divider">


  </div>

  <footer class="container">
    <p class="float-right"><a href="#">Torna su</a></p>
    <p>&copy; 2020 "KitchenInLove" &middot; <a href="/Privacy">Privacy</a> &middot; <a href="/FAQ">FAQ</a></p>
  </footer>
</main>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

   </body>
</html>