<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Aggiungi Indirizzo</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
 
   <!-- ............................................Stile............................................. -->
    <link href="../../css/header-footer.css" rel="stylesheet">
    <link href="../../css/registrazione.css" rel="stylesheet">
  </head>


  <body>
  <div th:replace="fragments/header :: header"></div>
  
  	<!-- ............................................Corpo della pagina............................................. -->
	
	<main role="main">
	<hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-11">
       <div class="col-md-8 order-md-1">
      	<h4 class="mb-3">Aggiungi Indirizzo</h4>
           <form th:action="@{/Utente/Profilo/AggiungiIndirizzo}" th:object="${indirizzo}" method="post">
            <div class="mb-3">
              <label for="Via">Via</label>
              <input type="text" th:field="*{via}" class="form-control" id="via" placeholder="" required>
              <label th:if="${#fields.hasErrors('via')}" th:errors="*{via}"></label>
            </div>
            <div class="mb-3">
              <label for="Citta">Città</label>
              <input type="text" th:field="*{citta}" class="form-control" id="citta" placeholder="" required>
              <label th:if="${#fields.hasErrors('citta')}" th:errors="*{citta}"></label>
            </div> 
            <div class="mb-3">
              <label for="Provincia">Provincia</label>
              <input type="text" th:field="*{provincia}" class="form-control" id="provincia" placeholder="" required>
              <label th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}"></label>
            </div> 
            <div class="mb-3">
              <label for="Cap">Cap</label>
              <input type="text" th:field="*{cap}" class="form-control" id="cap" placeholder="" required>
              <label th:if="${#fields.hasErrors('cap')}" th:errors="*{cap}"></label>
            </div> 
            <div class="mb-3">
              <label for="Note">Note</label>
              <input type="text" th:field="*{note}" class="form-control" id="note" placeholder="" required>
              <label th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></label>
            </div>
            
            <p hidden>
            <label for="">Conferma Utente</label>
          	<select class="custom-select d-block w-100" id="utente" name="utente" th:field="*{utente}">
			<option th:value="${utenteAut.idUtente}" th:text="${utenteAut.nome}"></option>
			<label th:if="${#fields.hasErrors('utente')}" th:errors="*{utente}"></label>
			</select>
            </p>
            
            <br>
            <button class="btn btn-warning" type="submit">Salva</button>
           </form>
          </div>
        </div>
      </div>
      <br>
      <hr>

  <footer class="container">
    <p class="float-right"><a href="#">Torna su</a></p>
    <p>&copy; 2020 "KitchenInLove" &middot; <a href="/Privacy">Privacy</a> &middot; <a href="/FAQ">FAQ</a></p>
  </footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    </body>
</html>