<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.1.1">
    
    <title>Aggiungi Marca</title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


    <!-- ............................................Stile............................................. -->
    <link href="../../css/latoAdmin.css" rel="stylesheet">
  </head>
  
  
  
<body>

	<div th:replace="fragments/HeaderLatoAdmin :: HeaderLatoAdmin"></div>
	<div th:replace="fragments/AdminMenuLaterale :: AdminMenuLaterale"></div>

	<!-- ............................................Corpo della pagina............................................. -->

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="row featurette">
      <div class="col-md-11">
        <div class="col-md-8 order-md-1">
          <br>
        <h4 class="mb-3">Aggiungi Marca</h4>
        <form th:action="@{/Admin/EditorMarche/AggiungiMarca}" th:object="${marca}" method="post">
        <div class="mb-3">
          <label for="">Nome</label>
          <input type="text" th:field="*{nome}" class="form-control" id="Nome" placeholder="" required>
          <label th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></label>
        </div>
        <div class="mb-3">
          <label for="immagine">Url immagine</label>
          <input type="text" th:field="*{immagine}" class="form-control" id="immagine" placeholder="" required>
          <label th:if="${#fields.hasErrors('immagine')}" th:errors="*{immagine}"></label>
        </div>
        <div class="mb-3">
          <label for="immagine">Grande Marca</label>
          	<select class="custom-select d-block w-100" id="grande" name="grande" th:field="*{grande}">
				<option th:each="i : ${#numbers.sequence(0, 1)}" th:value="${i}" th:text="${i}" th:selected="${0}"></option>
				<label th:if="${#fields.hasErrors('grande')}" th:errors="*{grande}"></td>
			</select>
        </div>

      		 <br>
            <button class="btn btn-warning" type="submit">Salva</button>
           </form>
          </div>
        </div>
      </div>
      <br>
      <hr>
      
      <footer class="container">
        <p class="float-right"><a href="#">Torna su</a></p>
        <p>&copy; 2020 "KitchenInLove" &middot; <a href="/Privacy">Privacy</a> &middot; <a href="/FAQ">FAQ</a></p>
      </footer> 
      
    </main>
    
  </div>
</div>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="../../css/latoAdmin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>




  </body>
</html>