
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Carrello</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	
	<style>
		button#Procedi {
  		border-color: #db950a;
  		background-color: #343a40;
		}

		button#Procedi:hover {
  		color: #343a40;
  		background-color: #db950a;
		}
	</style>

   <!-- ............................................Stile............................................. -->
    <link href="../../css/header-footer.css" rel="stylesheet">
    <link href="../../css/carrello.css" rel="stylesheet">
  </head>

  <body>
  <div th:replace="fragments/header :: header"></div>

	<!-- ............................................Corpo della pagina............................................. -->

	<main role="main">
<hr class="featurette-divider">

    <body class="bg-light">
    <div class="container">

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Il tuo carrello</span>
      </h4>
      
      <ul class="list-group mb-3" th:if="${finito} == null">
      	<th:block th:each="sl : ${sl}">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0"><label th:text="${sl.getProdotto().nome}"></label></h6>
          </div>
          
          <span class="card-title pricing-card-title" th:if="${sl.getProdotto().getPrezzoScontato() == 0}"> 
          <span class="text-muted"><label th:text="${#numbers.formatDecimal(sl.getPrezzoParziale(),0,2)}"></label> €</span>
          </span>
          <span class="card-title pricing-card-title" th:if="${sl.getProdotto().getPrezzoScontato() != 0}">   
    	  <label class="text-muted" th:text="${#numbers.formatDecimal(sl.getPrezzoParziale(),0,2)}"> </label> € </span>
        </li>
        </th:block>
        <li class="list-group-item d-flex justify-content-between">
          <span>Totale (€)</span>
          <strong><label th:text="${#numbers.formatDecimal(totale,0,2)}"></label>€</strong>
        </li>
      </ul>
    </div>
    
    
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Carrello</h4>
      <th:block th:each="sl : ${sl}">
        <div class="row">
          <div class="col-md-4 mb-3">
           <img th:src="${sl.getProdotto().getImmaginePrincipale().getUrlImmagine()}" width="100px" height="100px"/>
           <br>
           <span th:if="${sl.getProdotto().quantitaGiacenzaOnline()} < 5">
           <small>Ne rimangono solo </small><label th:text="${sl.getProdotto().quantitaGiacenzaOnline()}"></label>
           </span>
           
          </div>
          <div class="col-md-4 mb-3">
            <label for="firstName"><label th:text="${sl.getProdotto().nome}"></label></label>
            <p><small><label th:text="${sl.getProdotto().breveDescrizione}"></label></small></p>
          </div>
          <div class="col-md-2 mb-3">
           <label for="quantita">Quantità</label>
            <label for="firstName"><label th:text="${sl.getQuantita()}"></label></label>
          </div>
            <div><a th:href="@{'/Utente/Carrello/AggiungiQuantita/' + ${sl.getIdShoppingList()}}" class="btn btn-sm btn-outline-secondary">+</a></div>
            <div th:if="${sl.getQuantita() > 1}"> 
            <a th:href="@{'/Utente/Carrello/RiduciQuantita/' + ${sl.getIdShoppingList()}}" class="btn btn-sm btn-outline-secondary"> -</a> 
           </div>
           <div>
           <a th:href="@{'/Utente/Carrello/RimuoviShoppingList/'+ ${sl.getIdShoppingList()}}" class="btn btn-sm btn-outline-secondary"><span class="iconify" data-icon="feather-trash-2" data-inline="false"></span></a> 
            </div> 
        </div> 
    </th:block>
    <h2 th:text="${finito}"></h2><center>
    <h2 th:text="${ok}"></h2><center>
	<div th:if="${finito} == null and ${ok} == null">
    <button class="btn btn-outline-success my-2 my-sm-0" id = "Procedi" type="submit"><a th:href="@{'/Utente/Carrello/AggiungiOrdine'}"> Procedi all'ordine</a></button>
    </div>
    <div th:if="${ok} != null">
    <button><a href="/">Continua gli acquisti</a></button>
    </div>
    
    
    
  </div>
  </div>


 


  <hr>
  <footer class="container">
    <p class="float-right"><a href="#">Torna su</a></p>
    <p>&copy; 2020 "KitchenInLove" &middot; <a href="/Privacy">Privacy</a> &middot; <a href="/FAQ">FAQ</a></p>
  </footer>
</main>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    </body>
</html>