<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Categorie</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


  <style> 
     img#immagineprincipale {
  		height: 250px;
 		width: 250px;
  		border: solid;
  		border-width: 1px;
  		border-color: silver;
  		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}

	.container{
		margin-left: 10px;
		padding-top: 3rem;
	}
    
	.wrapper {
  		display: grid;
  		grid-gap: 20px;
  		grid-template-columns: repeat(4, 300px);
  		grid-template-rows: auto;
  		grid-auto-flow: row;
	} 
  </style>
    
    
    <!-- ............................................Stile............................................. -->
    <link href="../../css/header-footer.css" rel="stylesheet">
    <link href="../../css/prodotti.css" rel="stylesheet">
  </head>
  
  
  <body>
  <div th:replace="fragments/header :: header"></div>

	<!-- ............................................Corpo della pagina............................................. -->
	
	<main role="main">
    <hr>

    	<div class="container">
        	<div class="wrapper">
    
    			<th:block th:each="Categoria : ${catPrincipali}">	
            	<div class="card-body">
            		<p class="card-text">
	            		<div class="immaginiProdotto"> 
	    					<img id="immagineprincipale" th:src="${Categoria.immagine}">
	   					</div>
	   				
	        			<center>
	        				<h2 class="card-title pricing-card-title"> 
	        				<label th:text="${Categoria.nome}"></label>
	        				</h2>
	        			</center>
	          			<h3>
	          				<a th:href="@{'/Prodotto/ListaProdotti?idCategoria=' + ${Categoria.getIdCategoria()}}"> Prodotti di questa categoria </a>
	          			</h3>
         			</p>   
                </div>          
          		</th:block>
         	</div>
         </div>

  		<hr class="featurette-divider">
  		<div>
    		<a href="/Prodotto/Promozioni"><img src="../../immagini/saldi.jpg" width="100%" height="100%"></a>
  		</div>

  		<hr class="featurette-divider">
  		<hr>
	  <footer class="container">
	    <p class="float-right"><a href="#">Torna su</a></p>
	    <p>&copy; 2020 "KitchenInLove" &middot; <a href="/Privacy">Privacy</a> &middot; <a href="/FAQ">FAQ</a></p>
	  </footer>
	</main>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  </body>
</html>