
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>DettaglioProdotto</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../../../css/header-footer.css" rel="stylesheet">
    <link href="../../../css/dettaglioProdotto.css" rel="stylesheet">

  </head>

  <body>
  <div th:replace="fragments/header :: header"></div>
	<main role="main">
	<hr class="featurette-divider">
	
<div id="container">

    <div class="immaginiProdotto"> 
    			<th:block th:each="PHImmagine : ${PHImmagine}">
             	 <img id="immagineprincipale" th:src="${PHImmagine.urlImmagine}"/>
        		</th:block>

    			<th:block th:each="PHImmagineSec : ${PHImmagineSec}">
             	 <img id="immaginisecondarie" th:src="${PHImmagineSec.urlImmagine}"/>
        		</th:block>
    
   </div>
    
  <div class="descrizioneprodotto">
    <h1>
       <label th:text="${PHProdotto.nome}"></label>
    </h1>
    <h2>
       <label th:text="${PHProdotto.breveDescrizione}"></label>
    </h2>
    	
    <div class="descrprod">
      <h2>
        Dettagli Prodotto:
      </h2>
      <h3>
       <span>  Marca: </span> <label th:text="${PHProdotto.marca.nome}"></label>
    </h3>
      <h4>
        <span>  Dimensioni: </span> <label th:text="${PHProdotto.dimensione}"></label> cm
      </h4>
      <h4>
        <span>  Materiale:  </span> <label th:text="${PHProdotto.materiale}"></label>
      </h4>
      
  </div>
</div>

<div id="acquisto">
    
      <span>  Prezzo:  </span>
      <span th:if="${PHProdotto.getPrezzoScontato() == 0}"> 
    <h5> 
      <label th:text="${#numbers.formatDecimal(PHProdotto.prezzo,0,2)}"></label>€</span>
    </h5>
      <span th:unless="${PHProdotto.getPrezzoScontato() == 0}">   
    <h5>  
      <label th:text="${#numbers.formatDecimal(PHProdotto.getPrezzoScontato(),0,2)}"> </label> €
    </h5>
      <small>
      <div class="dettagli" > Prezzo scontato fino al <br>
      <label th:text="${#dates.format(promo.getDataFine(), 'dd-MM-yyyy')}"> </label> 
      </div>
      </small>
      </span>
      <label class="red" th:text="${pochi}"></label>
    
    <div>
    <span th:if="${PHProdotto.esaurito == false}"><a th:href="@{'/Utente/AggiungiCarrello/' + ${PHProdotto.getIdProdotto()}}" id="carrello">Aggiungi al Carrello</a></span>
    <span class="red" th:if="${PHProdotto.esaurito == true}">Questo prodotto è momentaneamente esaurito</span>
    </div>
    <br>

</div>
	<br>
    <br>
    <hr class="featurette-divider">
    <div class="col-md-11">
    <h2> Descrizione </h2> 
    <p><label th:text="${PHProdotto.descrizioneCompleta}"></label></p>
    </div>
</div>

    <hr class="featurette-divider">

  <footer class="container">
    <p class="float-right"><a href="#">Torna su</a></p>
    <p>&copy; 2020 "KitchenInLove" &middot; <a href="/Privacy">Privacy</a> &middot; <a href="/FAQ">FAQ</a></p>
  </footer>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

<!--script alternativi:
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>  -->
        
    </body>
</html>