<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.1.1">
    
    <title>Lista Ordini</title>


    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

	<style>
	table {
    	border-collapse: unset;
	}
	td {
    	padding:0px;
	}
	</style>

    <!-- ............................................Stile............................................. -->
    <link href="../../css/latoAdmin.css" rel="stylesheet">
  </head>
  
  
  
<body>

	 <div th:replace="fragments/HeaderLatoAdmin :: HeaderLatoAdmin"></div>
     <div th:replace="fragments/AdminMenuLaterale :: AdminMenuLaterale"></div>      

	<!-- ............................................Corpo della pagina............................................. -->

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <br>
      
      <h4 class="mb-3">Lista Ordini</h4>
      <br>
      
    <table>
    		<thead>
			<tr><th>Utente</th><th></th><th>Data di creazione</th><th></th><th>Stato dell'ordine</th></tr>
			</thead>
        <th:block th:each="i : ${#numbers.sequence(sl.size() - 1, 0, -1)}" th:with="sl=${sl[i]}">		<!-- al normale for:each è stato aggiunto l'ordine decrescente e poi è stata assegnata la variabile sl ad ogni elemento dell'array -->
            <tr>
              <td th:text="${sl.utente.username}"> <input type="text" placeholder="username" /></td>
              <td></td>
              <td th:text="${#temporals.format(sl.ordine.dataCreazione, 'dd-MM-yyyy')}"> <input type="text" placeholder="Data Creazione" /></td>
              <td></td>
              <td th:text="${sl.ordine.StatoOrdine.descrizione}"> <input type="text" placeholder="Stato Ordine" /></td>
        </th:block>
    </table>
    
    <br>
      <hr>
      
      <footer class="container">
        <p class="float-right"><a href="#">Torna su</a></p>
        <p>&copy; 2020 "KitchenInLove" &middot; <a href="/Privacy">Privacy</a> &middot; <a href="/FAQ">FAQ</a></p>
      </footer> 
      
    </main>
    
  </div>
</div>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>


  </body>
</html>