<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Gestione giacenza</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


    <!-- ............................................Stile............................................. -->
    <link href="../../css/latoAdmin.css" rel="stylesheet">
    <link href="../../css/giacenza.css" rel="stylesheet">	
  </head>
  <body>

    <div th:replace="fragments/HeaderLatoAdmin :: HeaderLatoAdmin"></div>
	<div th:replace="fragments/AdminMenuLaterale :: AdminMenuLaterale"></div>


	<!-- ............................................Corpo della pagina............................................. -->

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">  
     
     <div class="spazio">
     <h3>Seleziona la sede:</h3>
	<select onchange="val()" id="select_id">
		<option value=0 selected="selected">...</option>
		<th:block th:each="s : ${sedi}"> 
		<option th:id="'Sede'+${s.idSede}" th:value="${s.idSede}"><label th:text="${s.nome}"></label></option>
		</th:block>
	</select>
	</div>
	
 
 <div class="container">
     <div class="wrapper">
 		<th:block th:each="Prodotto : ${prodotti}">	
            <div class="card-body">
            <p class="card-text">
            
            <div class="immaginiProdotto"> 
    			<img id="immagineprincipale" th:src="${Prodotto.getImmaginePrincipale().getUrlImmagine()}"/>
   			</div>

          	<b th:text="${Prodotto.nome}"></b>
          	<br>In giacenza:&nbsp;<label th:id="'giacenza' + ${Prodotto.idProdotto}">0</label>
         	</p>
              <div class="justify-content-between align-items-center">
                <div class="btn-group">
                	<input class="smaal" th:id="'qty' + ${Prodotto.idProdotto}" type="number" min="0" value = 0></input>
                </div>
              </div>
            </div>
          
 
         </th:block>
         </div>
         
 		<button th:onclick="salva();">Salva</button>

 	</div>
 
      <hr>
      
	<footer class="container">
      <p class="float-right"><a href="#">Torna su</a></p>
      <p>&copy; 2020 "KitchenInLove" &middot; <a href="/Privacy">Privacy</a> &middot; <a href="/FAQ">FAQ</a></p>
    </footer>
      
    </main>
  </div>
</div>

	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="../../javascript/giacenza.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>


      </body>
</html>
