<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Homepage</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
 
    <style>
     img#immagineprincipale {
  		height: 250px;
  		width: 250px;
 		border: solid;
  		border-width: 1px;
  		border-color: silver;
  		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}

	.container{
		margin-left: 10px;
		padding-top: 3rem;
	}
    
	.wrapper {
  		display: grid;
  		grid-gap: 20px;
  		grid-template-columns: repeat(4, 300px);
  		grid-template-rows: auto;
  		grid-auto-flow: row;
	}
    </style>
    

   <!-- ............................................Stile............................................. -->
    <link href="css/header-footer.css" rel="stylesheet">
    <link href="css/homepage.css" rel="stylesheet">
    <link href="css/prodotti.css" rel="stylesheet">

  </head>

  <body>
  <div th:replace="fragments/header :: header"></div>
  
	<!-- ............................................Corpo della pagina............................................. -->  
	<main role="main">
	
	<!-- ....................................Carousel......................................... -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"> <img src="immagini/PlaceholderPromo1.png"> <rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1></h1>
            <p></p>
            <p><a class="btn btn-lg btn-primary" id="Bottone1" href="/Prodotto/Promozioni" role="button">Scopri le nostre promozioni</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"> <img src="immagini/PlaceholderPromo2.png"> <rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1></h1>
            <p></p>
            <p><a class="btn btn-lg btn-primary" href="/Prodotto/Promozioni" role="button">Scopri le nostre promozioni</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"> <img src="immagini/PlaceholderPromo3.png"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1></h1>
            <p></p>
            <p><a class="btn btn-lg btn-primary" href="/Prodotto/Promozioni" role="button">Scopri le nostre promozioni</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

	<!-- ...............fine carosello.................................. -->
	
	<br>
	<div align= "center" class="prova">
    	<div id="hormenu"><!-- div che contiene il menu -->
      		<ul> <!-- lista principale: definisce il menu nella sua interezza -->
        		<li>
        		<a href="/Prodotto/Categorie">Categorie</a> <!-- primo list-item, prima voce del menu -->
      		<ul> <!-- Lista annidata: voci del sotto-menu -->
      			 <th:block th:each="categoria : ${catPrincipali}">
      			 <li><a th:href="@{'/Prodotto/ListaProdotti?idCategoria=' + ${categoria.getIdCategoria()}}"><label th:text="${categoria.nome}"></label></a></li>
        		 </th:block>
      		</ul>
        		</li>
     		</ul>
    </div>

		<div id="hormenu"><!-- div che contiene il menu -->
			<ul> <!-- lista principale: definisce il menu nella sua interezza --> 
				<li>
				<a href="/Prodotto/Promozioni">Promozioni</a> <!-- primo list-item, prima voce del menu -->
			<ul> <!-- Lista annidata: voci del sotto-menu -->
			</ul>
				</li>
			</ul>
		</div>
		<div id="hormenu"><!-- div che contiene il menu -->
			<ul> <!-- lista principale: definisce il menu nella sua interezza -->
				<li>
				<a href="/Prodotto/PiuVenduti">Più Venduti</a> <!-- primo list-item, prima voce del menu -->
			<ul> <!-- Lista annidata: voci del sotto-menu -->
			</ul>
				</li>
			</ul>
		</div>
		<div id="hormenu"><!-- div che contiene il menu -->
			<ul> <!-- lista principale: definisce il menu nella sua interezza -->
				<li>
				<a href="GrandiMarche">Grandi Marche</a> <!-- primo list-item, prima voce del menu -->
			<ul> <!-- Lista annidata: voci del sotto-menu -->
			</ul>
				</li>
			</ul>
		</div>
		<div id="hormenu"><!-- div che contiene il menu -->
			<ul> <!-- lista principale: definisce il menu nella sua interezza -->
				<li>
				<!-- <a href="/Prodotto/Promozioni">Gift card</a> --> <!-- primo list-item, prima voce del menu -->
			<ul> <!-- Lista annidata: voci del sotto-menu -->
			</ul>
				</li>
			</ul>
		</div>
		</div>


<br>
<br>
<br>
<br>
<br>

	<div th:replace="fragments/ElencoProdotti :: ElencoProdotti"></div>


    <hr>


  <footer class="container">
    <p class="float-right"><a href="#">Torna su</a></p>
    <p>&copy; 2020 "KitchenInLove" &middot; <a href="/Privacy">Privacy</a> &middot; <a href="/FAQ">FAQ</a></p>
  </footer>
</main>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
       
    </body>
</html>