
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Lista Prodotti Ordine</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
 
   <!-- ............................................Stile............................................. -->
    <link href="../../../css/header-footer.css" rel="stylesheet">
    <link href="../../../css/chiSiamo.css" rel="stylesheet">
  </head>
  
<style>
        th, td {
        padding-left: 30px;
      }

</style>


  <body>
  <div th:replace="fragments/header :: header"></div>
  
  	<!-- ............................................Corpo della pagina............................................. -->
  	
	<main role="main">
	<hr class="featurette-divider">

      <table cellspacing="5">
    		<thead>
			<tr><th>Nome Prodotto</th></tr>
			</thead>
        <th:block th:each="lp : ${lp}">
        <tr>
        <td th:text="${lp.nome}"></td> 
        <td><a th:href="@{'/Prodotto/Dettaglio/' + ${lp.getIdProdotto()}}" class="btn btn-sm btn-outline-secondary">Visualizza Dettagli</a><td>
		</tr> 
        </th:block>
	</table>
    <hr class="featurette-divider">



  <footer class="container">
    <p class="float-right"><a href="#">Torna su</a></p>
    <p>&copy; 2020 "KitchenInLove" &middot; <a href="/Privacy">Privacy</a> &middot; <a href="/FAQ">FAQ</a></p>
  </footer>
  
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    </body>
</html>