<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

   <!-- ............................................Stile............................................. -->
    <link href="../../css/login.css" rel="stylesheet">
    <link href="../../css/header-footer.css" rel="stylesheet">
  </head>

  <body class="text-center">
  <div th:replace="fragments/header :: header"></div>

	<!-- ............................................Corpo della pagina............................................. -->
	<form class="form-signin" action="Login" method="post">
    <br>
  <h1 class="h3 mb-3 font-weight-normal">Accedi</h1>
  <label for="inputUsername" class="sr-only">Username</label>
  <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus name="username">
  
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
  <div class="checkbox mb-3"></div>
  
  <span th:text="${msgErr}"> </span>
  
  <button class="btn btn-warning" type="submit">Accedi</button>
  <p class="">Non sei ancora registrato? <a href="/Utente/Registrazione">Registrati</a> </p>
  
  
  
  <hr>
  <footer class="container">
       <p>&copy; 2020 "KitchenInLove" &middot; <a href="/Privacy">Privacy</a> &middot; <a href="/FAQ">FAQ</a></p>
  </footer>

</form>

</body>
</html>
