<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.1.1">
    
    <title>Modifica Categoria</title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


    <!-- ............................................Stile............................................. -->
    <link href="../../../css/latoAdmin.css" rel="stylesheet">
    <link href="../../../css/modifica.css" rel="stylesheet">
  </head>
  
  
  
<body>

	<div th:replace="fragments/HeaderLatoAdmin :: HeaderLatoAdmin"></div>
	<div th:replace="fragments/AdminMenuLaterale :: AdminMenuLaterale"></div>


	<!-- ............................................Corpo della pagina............................................. -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    
    <form th:action="@{/Admin/EditorCategorie/ModificaCategoria/}" th:object="${categoria}" method="post"> 
    
      <div class="row featurette">
      <div class="col-md-11">
       	<div class="col-md-8 order-md-1">
          <br>
        <h4 class="mb-3">Modifica Categoria</h4>
		
         <input type="hidden" name="idCategoria" th:value="${categoria.idCategoria}"> 
        <div class="col-md-4 mb-3">
          <label for="">Nome</label>
          <input type="text" name="nome" th:value="${categoria.nome}"></input>
        </div>
        <div class="col-md-4 mb-3">
          <label for="Descrizione">Descrizione</label>
          <input type="text" name="Descrizione" th:value="${categoria.descrizione}"></input>
        </div>
        <div class="col-md-4 mb-3">
          <label for="">Sottocategoria di:</label>
            <select class="custom-select d-block w-100" id="genitore" required th:field="*{idGenitore}">		<!-- sistemare -->
			<option th:each="s : ${categoria}" th:value="${s.idCategoria}" th:text="${s.nome}"></option>
			</select>
        </div>

      <br>
      <button class="btn btn-warning" type="submit">Salva</button>
     </div>
    </div>
  </div>



      <hr>
	<footer class="container">
   		<p class="float-right"><a href="#">Torna su</a></p>
    	<p>&copy; 2020 "KitchenInLove" &middot; <a href="/Privacy">Privacy</a> &middot; <a href="/FAQ">FAQ</a></p>
  	</footer>
  
      </form>
    </main>
    
  </div>
</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="../../css/latoAdmin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

      </body>
</html>
