
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Homepage</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
 
   <!-- ............................................Stile............................................. -->
    <link href="../../css/header-footer.css" rel="stylesheet">
    <link href="../../css/promozioni.css" rel="stylesheet">

  </head>

  <body>
  <div th:replace="fragments/header :: header"></div>
  
	<!-- ............................................Corpo della pagina............................................. -->  

	<main role="main">
	<hr class="featurette-divider">

  <div class="Promozioni">
    <ul th:if="${errpromo} == null">
    <br>
    <th:block th:each="Promozione : ${PHPromozioni}">
	      		<tr> 
	      			<td><img width=425px height=275px th:src="${Promozione.immagine}"></td>  
	      			<h1>Promozione <td th:text="${Promozione.nome}"></td></h1>
	      			<h2><td th:text="${Promozione.descrizione}"></td></h2>	
	         		<h3>Data inizio: <td th:text="${Promozione.dataInizio}"></td></h3>
	         		<h3>Data fine: <td th:text="${Promozione.dataFine}"></td></h3>
	         		<h3>Sconto del: <td th:text="${Promozione.percentualeSconto}"></td>%</h3>
	       	 	</tr>
	       	 	<h3>Visualizza i  <a th:href="@{'/Prodotto/ListaProdotti?idPromo=' + ${Promozione.getIdPromozione()}}"> PRODOTTI IN SCONTO </a></h3>
   	</th:block>
  </div>
  </ul>
  
     <div class="row featurette">
       <div class="col-md-11">
        <br>
  		<center> <h2 th:text="${errpromo}"></h2><center>
  		<h2 th:if="${errpromo} != null"> 
    	<a th:href="@{'/'}" class="btn btn-sm btn-outline-secondary">Torna alla Home</a> oppure <a th:href="@{'/Prodotto/Categorie'}" class="btn btn-sm btn-outline-secondary"> visita le nostre categorie</a> e trova ciò che cerchi.
  		</h2>  		
  		<br>
  	  </div>
  	</div>




    <hr class="featurette-divider">
    
  <footer class="container">
    <p class="float-right"><a href="#">Torna su</a></p>
    <p>&copy; 2020 "KitchenInLove" &middot; <a href="/Privacy">Privacy</a> &middot; <a href="/FAQ">FAQ</a></p>
  </footer>
</main>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

	</body>
</html>