<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.1.1">
    
    <title>Registrazione</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
 
   <!-- ............................................Stile............................................. -->
    <link href="../../css/header-footer.css" rel="stylesheet">
    <link href="../../css/registrazione.css" rel="stylesheet">
    
  </head>
  
  <body>
  <div th:replace="fragments/header :: header"></div>
  
	<!-- ............................................Corpo della pagina............................................. -->
	  
	<main role="main">
	<hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-11">
       <div class="col-md-8 order-md-1">
      	<h4 class="mb-3">Registrati</h4>
      	<hr>
		<form th:action="@{/Utente/Registrazione/}" th:object="${utente}" method="post">
		 
     	<div class="mb-3">
          <label for="username">USERNAME (L' username deve avere tra 5 e 10 caratteri)</label>
          <input type="text" th:field="*{username}" class="form-control" id="username" placeholder="Username" required>
          <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
          <div class="invalid-feedback">
            Inserisci l'username.
          </div>
        </div>

        <div class="mb-3">
          <label for="password">PASSWORD (La password deve avere tra 6 e 12 caratteri)</label>
          <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Password" required>
          <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
          <div class="invalid-feedback">
            Inserisci la password.
          </div>
        </div>
        
        <div class="mb-3">
          <label for="confPassword">CONFERMA PASSWORD</label>
          <input type="password" th:field="*{confPassword}" class="form-control" id="confPassword" placeholder="Digita di nuovo la Password" required>
          <span th:text="${msg}"> </span>
        </div>


        <div class="mb-3">
          <label for="email">EMAIL</label>
          <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email" required>
          <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
          <div class="invalid-feedback">
            Inserisci la mail.
          </div>
        </div>

        <div class="mb-3">
          <label for="nome">NOME</label>
          <input type="text" th:field="*{nome}" class="form-control" id="nome" placeholder="Nome" required>
          <label th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></label>
          <div class="invalid-feedback">
            Inserisci il nome.
          </div>
        </div>

         <div class="mb-3">
          <label for="cognome">COGNOME</label>
          <input type="text" th:field="*{cognome}" class="form-control" id="cognome" placeholder="Cognome" required>
          <label th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></label>
          <div class="invalid-feedback">
            Inserisci il cognome.
          </div>
        </div>

        <div class="mb-3">
          <label for="telefono">TELEFONO</label>
          <input type="text" th:field="*{telefono}" class="form-control" id="telefono" placeholder="Tel/Cel" required>
          <label th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></label>
          <div class="invalid-feedback">
            Inserisci un numero di telefono.
          </div>
        </div>
        
        <input type="hidden" name="ruolo" th:value="${ruolo.idRuolo}">
       
        <br>
   <button class="btn btn-warning" type="submit">Crea Account</button>  
    <p class="">Sei già registrato? <a href="/Utente/Login">Login</a> </p>
     
     
     </form>
      <hr class="featurette-divider">
      
	</div>
   </div>
  </div>

  <footer class="container">
    <p class="float-right"><a href="#">Torna su</a></p>
    <p>&copy; 2020 "KitchenInLove" &middot; <a href="/Privacy">Privacy</a> &middot; <a href="/FAQ">FAQ</a></p>
  </footer>
</main>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    </body>
</html>