
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.1.1">
    
    <title>Sedi</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

   <!-- ............................................Stile............................................. -->
    <link href="css/header-footer.css" rel="stylesheet">
    <link href="css/sedi.css" rel="stylesheet">

  </head>
  
  <body>
  <div th:replace="fragments/header :: header"></div>
  
	<!-- ............................................Corpo della pagina............................................. -->
	  
	<main role="main">
	<hr class="featurette-divider">

    <div class="row featurette">
       <div class="col-md-11">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-150 position-relative">
       <div class="col p-4 d-flex flex-column position-static">
        <th:block th:each="sede : ${sede}">
          <h5 class="mb-0"><label th:text="${sede.nome}"> </label></h5>
          <div class="mb-1 text-muted"><label th:text="${sede.via}"> </label> <label th:text="${sede.citta}"> </label> (<label th:text="${sede.provincia}"> </label>)</div>
          <div class="mb-1 text-muted">Tel: <label th:text="${sede.telefono}"> </label></div>
          <div class="mb-1 text-muted">Email: <label th:text="${sede.email}"> </label></div>
   		</th:block>
       </div>
        <div class="col-auto d-none d-lg-block">
          <br>
          <br>
        <img src="immagini/mappaSedi.png" width="750px" height="476px">
      </div>
    </div>
    </div>
  </div>

    <hr class="featurette-divider">


  </div>

  <footer class="container">
    <p class="float-right"><a href="#">Torna su</a></p>
    <p>&copy; 2020 "KitchenInLove" &middot; <a href="/Privacy">Privacy</a> &middot; <a href="/FAQ">FAQ</a></p>
  </footer>
</main>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    </body>
</html>