<header th:fragment="AdminMenuLaterale">

<!-- ............................................Menù laterale lato Admin............................................. -->
<div class="container-fluid">
  <div class="row">
    
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/Admin/">
              <span data-feather="home"></span>
              Report & Grafici<span class="sr-only"></span>
            </a>
          </li>
        
          
          <li class="nav-item">
          <a href="/Admin/EditorOrdini" class="nav-link" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'EditorOrdini')} ? 'active' : 'ciao'">
              <span data-feather="file"></span>
              Lista Ordini
           </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/EditorProdotti"  th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'EditorProdotti')} ? 'active' : 'ciao'">
              <span data-feather="shopping-cart"></span>
              Editor Prodotti
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/EditorRuoli" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'EditorRuoli')} ? 'active' : 'ciao'">
              <span data-feather="users"></span>
              Editor Ruoli
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/EditorSedi" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'EditorSedi')} ? 'active' : 'ciao'">
              <span data-feather="bar-chart-2"></span>
              Editor Sedi
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/EditorCategorie" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'EditorCategorie')} ? 'active' : 'ciao'">
              <span data-feather="layers"></span>
              Editor Categorie
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/EditorPromozioni" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'EditorPromozioni')} ? 'active' : 'ciao'">
              <span data-feather="dollar-sign"></span>
              Editor Promozioni
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/EditorMarche" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'EditorMarche')} ? 'active' : 'ciao'">
              <span data-feather="award"></span>
              Editor Marche
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Admin/ListaUtenti" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'ListaUtenti')} ? 'active' : 'ciao'">
              <span data-feather="users"></span>
              Assegna Mansioni
            </a>
          </li>
          <!-- attivare solo in caso in cui venga inserito un ruolo che abbia accesso sia al lato Admin che al Magazzino 
          <li class="nav-item">
            <a class="nav-link" href="/Giacenza/" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'Giacenza')} ? 'active' : 'ciao'">
              <span data-feather="users"></span>
              Magazzino
            </a>
          </li> -->
        </ul>
      </div>
    </nav>
  </header>