 <header th:fragment="ElencoProdotti">
 <style>
 .red {
    color: red;
}
</style>
 <main role="main">
    <hr>
    		
    <div class="container">
                <div class="wrapper">
 <th:block th:each="Prodotto : ${PHProdotti}">	
            <div class="card-body">
            <p class="card-text">
            
            <div class="immaginiProdotto"> 
    			<img id="immagineprincipale" th:src="${Prodotto.getImmaginePrincipale().getUrlImmagine()}"/>
   			</div>
   				
        	<center><h2 class="card-title pricing-card-title"> <label th:text="${#numbers.formatDecimal(Prodotto.prezzo,0,2)}"></label> €</h2></center>
        	<center>
        		<span class="red" th:if="${Prodotto.getPrezzoScontato() != 0}">   
        				Prezzo scontato: 
         				<h2><label color="red" th:text="${#numbers.formatDecimal(Prodotto.getPrezzoScontato(),0,2)}"> </label> €</h2>
        		</span>
        		<span class="red" th:if="${Prodotto.esaurito == true}">
        		        Esaurito
        		</span>
        	</center>
        	
        	
          	<h3><label th:text="${Prodotto.nome}"></label></h3>
         	<h6><label th:text="${Prodotto.breveDescrizione}"></label></h6>
         	
         	</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a th:href="@{'/Prodotto/Dettaglio/' + ${Prodotto.getIdProdotto()}}" class="btn btn-sm btn-outline-secondary">Visualizza Dettagli</a>
                  <span th:if="${Prodotto.esaurito == false}"><a th:href="@{'/Utente/AggiungiCarrello/' + ${Prodotto.getIdProdotto()}}" class="btn btn-sm btn-outline-secondary">Aggiungi al Carrello</a></span>
                   
                </div>
              </div>
            </div>
          
 
         </th:block>
         </div>
         </div>
         
         
         
</header>     