<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.1.1">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
 

   <!-- ............................................Stile............................................. -->
    <link href="../css/latoAdmin.css" rel="stylesheet">

  </head>

  <body>

<header th:fragment="HeaderLatoAdmin">

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">
      <img src="../../../immagini/logopaginaMod.png" width="30px" height="30px"></a>
      
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
  
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
         <a class="nav-link" href="/Utente/Logout">Esci</a>
        </li>
      </ul>
    </nav>


</header>
</body>